body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #555555;
	background-image: url(../images/bg.jpg);

}

.media{
display: block;
max-height: 320px;
vertical-align: top;
width: 100%;
margin: 5px;
max-width: 640px;
border-radius: 10px 10px 10px 10px;
}