@(message: String)

@main("Welcome to JMaghreb") {

    <div ng-controller="tweetWall" style="width: 60%; margin: auto">
        <h1 style="margin: 10px">JMaghreb Tweet wall</h1>
        <div class="ui feed segment" ng-show="showTweets">
            <div class="event" ng-repeat="atweet in tweets">
                <div class="label">
                    <img src="{{atweet.user.profile_image_url}}">
                </div>
                <div class="content">
                    <div class="date">
                       {{atweet.created_at | fromNow  }}
                    </div>
                    <div class="summary">
                        <a href="https://www.twitter.com/{{atweet.user.screen_name}}">&#64;{{atweet.user.screen_name}}</a> {{atweet.user.name}}
                    </div>
					
                    <div class="extra text">
                        {{atweet.text }} <img src="{{atweet.entities.media[0].media_url  }}"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui feed segment" ng-show="!showTweets">
            <div class="event" >
                <div class="summary">
                    There is no tweet for now, the page  will update automatically !
                </div>
            </div>
        </div>

    </div>
}
